<header class="site-header">
  <div class="wrapper">
    <div class="header-container">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      
      <!-- Hamburger menu button (only visible on mobile) -->
      <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      
      <!-- Navigation that will be toggled on mobile -->
      <nav id="header-nav" class="header-nav">
        <ul class="nav-list">
          <li><a href="/book/">About the Book</a></li>
          <li><a href="/author/">About the Author</a></li>
          <li><a href="/supportingmaterial/">Supporting Material</a></li>
          <li><a href="/community/">Community</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
