<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <section>
      <small>Follow Facilitating Software Architecture: <a href="https://www.linkedin.com/company/facilitating-software-architecture" target="_blank" rel="noopener noreferrer"/>LinkedIn</a>, <a href="https://bsky.app/profile/facilitatingsoftwarearchitecture.com" target="_blank" rel="noopener noreferrer">Bluesky</a>, <a rel="me" href="https://hachyderm.io/@facilitatingswarch" target="_blank" rel="noopener noreferrer">Mastodon</a>, <a href="https://twitter.com/facswarch" target="_blank" rel="noopener noreferrer">Twitter</a>.</small><br>
      {% if site.github.is_project_page %}
        <small>Hosted on <a href="https://github.com/andrewharmellaw/facilitating-software-architecture">GitHub Pages</a> by <a href="https://github.com/andrewharmellaw/">Andrew Harmel-Law</a>. (Theme by <a href="https://github.com/orderedlist">orderedlist</a>)</small><br>
      {% endif %}
      <small>Copyright 2024 Andrew Harmel-Law.</small>
    </section>

    <!-- Add the JavaScript file at the end of the body -->
    <script src="{{ "/assets/js/mobile-menu.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
