<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- {% include cookie-consent.html %} -->
    <!-- {% include google-analytics.html %} -->
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/img/favicon.png"  | absolute_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1-->
        {% if site.logo %}
          <a href="/"><img src="{{site.logo | relative_url}}" alt="Facilitating Software Architecture book cover showing a green female and a red male European White-Winged Crossbill." /></a>
        {% endif %}

        <!--p>{{ site.description | default: site.github.project_tagline }}</p-->
        
        <p>
          <h3><a href="/book/">About the Book</a></h3>
          <h3><a href="/author/">About the Author</a></h3>
          <h3><a href="/supportingmaterial/">Supporting Material</a></h3>
          <h3><a href="/community/">Community</a></h3>
        </p>
        <br/>

        {% if site.show_downloads %}
        <h2>Get the book (& more)</h2>
        <h3>Bookstores</h3>
        <ul class="downloads">
          <li><a href="https://bookshop.org/a/107304/9781098151867">Buy in <strong>US</strong></a></li>
          <li><a href="https://uk.bookshop.org/p/books/facilitating-software-architecture/7686211?ean=9781098151867">Buy in <strong>UK</strong></a></li>
        </ul>
        <h3>Amazon</h3>
        <ul class="downloads">
          <li><a href="https://amzn.to/4exHqta">Buy <strong>US Print</strong></a></li>
          <li><a href="https://amzn.to/3NcUA2H">Buy <strong>UK Print</strong></a></li>
          <li><a href="">Download <strong>Kindle</strong></a></li-->
        </ul>
        <h3>O'Reilly Platform</h3>
        <ul class="downloads">
          <li><a href="https://learning.oreilly.com/library/view/facilitating-software-architecture/9781098151850/">Read <strong>online</strong></a></li>
          <li><a href="https://learning.oreilly.com/live-events/architecture-decision-making-by-example/0636920080767/">Train <strong>with me</strong></a></li>
          <li><a href="">Further <strong>resources</strong></a></li>
        </ul>
        {% endif %}
      </header>

      <!-- <section>
        <script id="CookieDeclaration" 
                src="https://consent.cookiebot.com/6292ebfb-93d6-48f5-91c5-174d2cc3f4cd/cd.js" 
                type="text/javascript" async></script>
      </section>-->
      
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <small>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small><br>
        {% endif %}
        <small>Follow Facilitating Software Architecture: <a href="https://www.linkedin.com/company/facilitating-software-architecture"/>LinkedIn</a>, <a href="https://facilitatingswarch.bsky.social">Bluesky</a>, <a href="https://twitter.com/facswarch">Twitter</a>.</small><br>
        <small>Copyright 2024 Andrew Harmel-Law</small><br>
        <small>Hosted on <a href="https://github.com/andrewharmellaw/facilitating-software-architecture">GitHub Pages</a> by <a href="https://github.com/andrewharmellaw/">Andrew Harmel-Law</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
